/* Write By Ikhsan N. Huda */

.main {
  width: 50%;
  margin-left: 25%;
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 20px;
  border-radius: 10px;
  background-color: #0A1F24;
  color: #bababa;
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1rem;
}

body {
  background-color: #08161A;
  color: #bababa;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  margin-top: -30px;
  margin-bottom: 20px;
}

h2 {
  font-family: Nunito Sans, sans-serif;
  font-size: 20px;
  margin-top: -30px;
  margin-bottom: 20px;
}

#links {
  text-align: left;
  margin-top: 20px;
  font-size: 1.1rem;
}

#links a {
  display: inline-block;
  margin-bottom: 5px;
}

#links a:hover {
  color: #fff;
}



@media screen and (max-width:600px) {
  .main {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;
    margin-left: 40px;
  }
}