{{ define "main" }}
<div class="flex-parent">
      <h1><b>{{ .Title }}</b> <div id="date-single"> {{ .Date.Format "Monday - Jan 2, 2006" }} </div></h1>
      <p><b>{{ .Content }}</b></p>
</div>      
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/styles/atom-one-dark.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/highlight.min.js"></script>
      <script>hljs.highlightAll();</script>
      <style>
            .backlist {
                  padding-left: 10%;
                  margin-bottom: 2em;
                  color: #bababa;
                  font-family: 'Quicksand', sans-serif;
                  font-size: 1.1rem;
            }

            #date-single {
                  font-size: 12px;
                  text-decoration: none;
                  border: 1px solid rgb(0, 0, 0);
                  display: inline-block;
                  background-color: rgb(74, 74, 74);
              }

            .flex-parent {
                  width: 60%;
                  margin: 100px auto;
            }

            h1 {
                  font-size: 35px;
                  font-family: 'Quicksand', sans-serif;
            }

            p {
                  font-size: 20px;
                  font-family: Nunito Sans, sans-serif;
            }
            code {
                  font-size: 20px;
            }

            @media screen and (max-width: 415px) {
                  .flex-parent {
                        width: 90%;
                  }
                  h1 {
                        font-size: 30px;
                  }
                  p {
                        font-size: 15px;
                  }
                  code {
                        font-size: 10px;
                  }
                  .backlist {
                        font-size: 0.8rem;
                        padding-left: 5%;
            }
                  
            }


            @media  screen and (max-width: 380px) {
                  .flex-parent {
                        width: 90%;
                  }            
                  
                  h1 {
                        font-size: 20px;
                  }
                  code {
                        font-size: 10px;
                  }
                  .backlist {
                        font-size: 0.8rem;
                        padding-left: 5%;
                  }
            }
      </style>

<div class="backlist">
      Back to <a href="/post"> List</a>
</div>


{{ end }}